.section-1{
    height:70px;
    background-color: #395144;
    margin:4px 0px 4px 0px;
    padding-left: 10%;
    padding-top:30px;
}
.section-1>button{
    float:right;
    margin-right:200px;
    border:1px solid white;
    border-radius:25px;
    background-color: #395144;
    padding:5px 20px 5px 20px;
    color:white;
    font-weight:bold;
    position: relative;
    bottom: 7px;
}
.Knowmore{
    color:white;
    float:left;
    font-size:20px;
    font-family: 'Nanum Gothic', sans-serif;
    position:relative;
    bottom:2px;
}