#tribute-img{
float:left;
width:150px;
height:180px;
margin:25px 70px;
}
.tribute{
    height:350px;
}
.tr-1{
   width:85%;
   background-color:#14C38E;
   margin:5% 7.5% 3% 7.5%;
   position:absolute;
   border-radius: 12px;
}
.para{
   display: inline-block;
   font-family:'Nanum Gothic',sans-serif;
   font-size:15px;
   font-weight:Bold;
   color:white;
   line-height: 0.3rem;
}
.newpara{
    display: inline-block;
    font-family:'Nanum Gothic',sans-serif;
    font-size:15px;
    font-weight:Bold;
    color:white;
    line-height: 0.3rem;
    padding-top:15px; 
}
.newpara-2{
    display: inline-block;
    font-family:'Nanum Gothic',sans-serif;
    font-size:15px;
    font-weight:Bold;
    color:white;
    line-height: 0.3rem;
    font-size:22px;
}
#tribute-button{
    float:right;
    font-weight:bold;
    padding:15px 50px;
    margin-right:30px;
    border:none;
    border-radius:12px;
    background-color: white;
    color:black
}